$rise-blue: #2d60ad;
$lighter-gray: #f4f4f4;
$light-gray: #e5e5e5;
$gray: #777;
$dark-gray: #383838;
$danger: #d9534f;
$light-border-color: #ddd;
$light-border: 1px solid $light-border-color;
$dark-border: 1px solid #ccc;
